<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">TicketApp</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tickets" routerLinkActive="active">Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myTickets" routerLinkActive="active">My Tickets</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>