<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let ticket of tickets">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ticket.subject}}</h5>
                <p class="card-text">{{ticket.ticket_state}}</p>
                <p class="card-text">Due Date: {{ticket.due_date | date:'shortDate'}}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="viewTicket(ticket._id)" class="btn btn-info" id="view" >View</button>
                </div>
            </div>
        </div>
    </div>
</div>
